@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

}

*{
  scroll-behavior: smooth;
  scrollbar-width: thin !important;
  scrollbar-color: white #113265 !important;
}

::-webkit-scrollbar {
  width: 6px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background: #113265
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

@layer components {
  .slideDownReturn {
    @apply transform transition-transform duration-500 ease-in-out;
    transform: translateY(-20px);
  }

  .animate-on-scroll {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
  }
   
  .m-plus-300 {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .m-plus-400 {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .m-plus-500 {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .m-plus-700 {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .m-plus-800 {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .m-plus-900 {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 900;
    font-style: normal;
  }
}

.bg-hero{
  background-image: url('../images/Back.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#eps{
  background-image: url('../images/bg-middle-shadowpx.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

._form-branding{
  display: none;
}


#form ._form-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: none; 
}

#form ._form_element{
  width: 100%;
}

#form .iti--allow-dropdown{
  width: 100%;
}

#form input{
  font-size: 16px;
  border-color: #81B3FF !important;
  border: solid 1px;
  border-radius: 9px;
  background-color: #fff;
  border-color: #606060;
  border-width: 0;
  border-radius: 10px;
  font-family: "M PLUS Rounded 1c", Sans-serif;
  font-weight: 600;
} 

#form input:focus{
  border-color: #81B3FF !important;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #81B3FF;
  transition: 0.5s;
  outline: 1px solid #81B3FF;
}

#form .email,
#form .fullname{
  width: 100% !important; 
  height: 57px !important;
  padding: 6px 16px;
  max-width: 100% !important; /* Assegura que não haja restrição de largura */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

#form #phone{
  padding-left: 45px;
  width: 100% !important; 
  height: 57px !important;
}

#form ::placeholder{
  color: #999999;
}

#form ._submit{
  width: 100%;
  height: 50px;
  background-color: #2cce5a;
  color: #fff;
  font-weight: bold;
  color: white;
  border: 0px;
  margin-left: 0px;
  margin-top: 20px;

  font-family: "M PLUS Rounded 1c", Sans-serif;
  font-size: 1.1rem;
  border-style: solid;
  border-width: 0 0 3px;
  color: #fff;
  border-color: #28ba52;
  border-top-color: rgb(40, 186, 82);
  border-right-color: rgb(40, 186, 82);
  border-bottom-color: rgb(40, 186, 82);
  border-left-color: rgb(40, 186, 82);
  border-radius: 10px 
}

#form ._submit:hover{
  background-color: #15468F;
  color: #fff;
  border-color: #113265;
  box-shadow: 0px 0px 10px 0px #15468F;
  transition: 0.5s
  
}

#form input:focus-visible,
#form ._submit:focus-visible{
  outline: none;
}